.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.loader {
  background: url('./tenor.gif') center;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}







.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

nav ul {
  margin: 0px; 
    list-style: none;
    text-align: left;
    background-color: lightgrey;
    /* padding: 15px 20px; */
    border-bottom: 1px solid lightgrey;
    box-shadow: 0px 0px 1px -1px;
}

nav ul li {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 2px 2px whitesmoke;
}

nav ul li.selected {
  box-shadow: 1px 3px 5px lightgrey inset;
    background-color: whitesmoke;
    cursor: pointer;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}
.team-container {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
.col {
  display: inline-block;
  padding: 10px;
  border: 1px solid #999;
  background-color: whitesmoke;
  width: 100px;
  height: 20px;
}
.col.header {
  font-weight: bold;
  background-color: #999;
}
.login-container {
  position:relative;
  padding: 60px;
  margin: 40px;
  border-radius: 25px;
  max-width: 350px;
  border: 1px solid #999;
  background-color: whitesmoke;
}
.card-container>div{
  margin-bottom: 10px;
}
.card-container>div label{
  margin-right: 15px;
  text-align: right;
  width: 30%;
  display: inline-block;
}
.login-sub-header {
  font-weight: bold;
    margin-bottom: 10px;
}
.link {
  position: absolute;
  top: -25px;
  right: 40px;
  color: blue;
}
button {
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  margin-top: 10px;
}
